.login{
    display:grid;
    place-items: center;
    height:100vh;
    width:100%
}

.login>div>img{
    object-fit: contain;
    height: 150px;
}

.login>button{
    width:300px;
    background-color:#0278ae;
    color:white;
    font-weight: 800;
}
.login>button:hover{
    background-color:#51adcf;
    color:black;
    font-weight: 800;
}